<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT_GEO_POINT_LATITUDE</key>
	<string>51.0000</string>
	<key>DEFAULT_GEO_POINT_LONGITUDE</key>
	<string>7.0000</string>
	<key>ENVIRONMENT</key>
	<string>_SAMPLE_VALUE</string>
	<key>ImageBaseURL</key>
	<string>$(IMAGE_BASE_URL)</string>
	<key>LaunchScreenImageName</key>
	<string>$(LAUNCH_SREEN_IMAGE_NAME)</string>
	<key>LaunchSreenTitle</key>
	<string>$(LAUNCH_SCREEN_TITLE)</string>
	<key>PARSE_API_APPLICATION_ID</key>
	<string>_SAMPLE_VALUE</string>
	<key>PARSE_API_KEY</key>
	<string>_SAMPLE_VALUE</string>
	<key>PARSE_REST_API_KEY</key>
	<string>_SAMPLE_VALUE</string>
	<key>PARSE_MASTER_API_KEY</key>
	<string>_SAMPLE_VALUE</string>
	<key>PARSE_API_ROOT_URL</key>
	<string>https://parse.xyz.de</string>
	<key>PARSE_API_APPLICATION_ID_DEV</key>
	<string>_SAMPLE_VALUE</string>
	<key>PARSE_API_KEY_DEV</key>
	<string>_SAMPLE_VALUE</string>
	<key>PARSE_REST_API_KEY_DEV</key>
	<string>_SAMPLE_VALUE</string>
	<key>PARSE_MASTER_API_KEY_DEV</key>
	<string>_SAMPLE_VALUE</string>
	<key>PARSE_API_ROOT_URL_DEV</key>
	<string>https://parse-dev.xyz.de</string>
	<key>ROOT_URL</key>
	<string>$(ROOT_URL)</string>
	<key>SplashAnimationName</key>
	<string>$(SPLASH_ANIMATION_NAME)</string>
	<key>homeTabItems</key>
	<array>
		<dict>
			<key>icon</key>
			<string>cog-solid-svg</string>
			<key>id</key>
			<string>homeTabItemSettings</string>
			<key>position</key>
			<integer>5</integer>
			<key>title</key>
			<string>Einstellungen</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>stadt-svg</string>
			<key>id</key>
			<string>homeTabItemCity</string>
			<key>position</key>
			<integer>0</integer>
			<key>title</key>
			<string>Stadt</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>corona</string>
			<key>id</key>
			<string>homeTabItemCorona</string>
			<key>position</key>
			<integer>1</integer>
			<key>title</key>
			<string>Corona</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>rathaus-svg</string>
			<key>id</key>
			<string>homeTabItemTownHall</string>
			<key>position</key>
			<integer>2</integer>
			<key>title</key>
			<string>Rathaus</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>services-svg</string>
			<key>id</key>
			<string>homeTabItemServices</string>
			<key>position</key>
			<integer>3</integer>
			<key>title</key>
			<string>Services</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>meldungen-svg</string>
			<key>id</key>
			<string>homeTabItemPressReleases</string>
			<key>position</key>
			<integer>4</integer>
			<key>title</key>
			<string>Meldungen</string>
		</dict>
	</array>
	<key>DEEPLINK_SCHEME</key>
	<string>_SAMPLE_VALUE</string>
</dict>
</plist>
